#Region System
FEEDSTRINGS;
SKIPCHECK;
#EndRegion

# ===================================
# COST_ASSET
# AUTHOR : INTIS - CGO
# CREATION DATE : 20/11/2017
# LAST MODIFICATION DATE : XX/XX/20XX
# ===================================

#SUPPRESSION DES STATUTS, FLAG & USER SI MONTANT NUL
[{'STATUT', 'USER'}, {'CD_FCT_ENCOURS', 'CD_BUD_ENCOURS', 'CD_REEL'}]=S: if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'CD_VALEUR')=0,'',CONTINUE);
# ['FLAG']=N:if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'CD_VALEUR')=0,0,CONTINUE);

#FLAG DES ERREURS DE MENSUALISATION
['FLAG_ERREUR_MENSUALISATION']= IF(SCAN( 'BUD', !T_PERIODE_ANALYTIQUE )>0 & !S_DF_GENERIQUE_ACI@<>'ASSET' & ROUNDP(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'CD_VALEUR'),2)<> ROUNDP(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,SUBST( !T_PERIODE_ANALYTIQUE, 1, 4 ),'CD_VALEUR'),2),1,0);

#ACCES POUR LA COMTPA
# En cours
['FLAG_COMPTA_VUE']=if (DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT')@='En cours',1,Continue);

# Accepté
['FLAG_COMPTA_VUE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT')@='Accepté',1,Continue);

# Refusé
['FLAG_COMPTA_VUE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT')@='Refusé',1,Continue);

#ACCES POUR LES MD
# Accepté
['FLAG_MD_VUE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT_DG')@='A valider',1,Continue);
['FLAG_MD_VUE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT_DG')@='Refusé',1,Continue);
['FLAG_MD_VUE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT_DG')@='Validé',1,Continue);
['FLAG_MD_VUE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT_DG')@='A modifier',1,Continue);

#PERMET DE CALCULER LES STATUTS
# En cours
['FLAG_ENCOURS']=if (DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT')@='En cours',1,Continue);

# A soumettre
['FLAG_ASOUMETTRE']= if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT')@='A soumettre',1,Continue);

# Accepté
['FLAG_ACCEPTE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT')@='Accepté',1,Continue);

# Refusé
['FLAG_REFUSE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT')@='Refusé',1,Continue);



#PERMET DE CALCULER LES STATUTS DG
# En cours
#['FLAG_DG_ENCOURS']=if (DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT_DG')@='En cours',1,Continue);

# A soumettre
#['FLAG_DG_ASOUMETTRE']= if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT_DG')@='A soumettre',1,Continue);

# Accepté
#['FLAG_DG_ACCEPTE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT_DG')@='Accepté',1,Continue);

# Refusé
#['FLAG_DG_REFUSE']=if(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT_DG')@='Refusé',1,Continue);


#PERMET DE NE PAS AFFICHER LES CONSOS TOT OI LIGNE ARTICLE DANS LES MASQUES DE RESTIT
#['ASSET','CG----']=C:0;
#['CD_VALEUR']=C: 0;

#PERMET DE RECUPERER LA DATE D'AMORTISSEMENT et DE MISE EN SERVICE
#['DUREE_AMORTISSEMENT']=C: 0;
['TOT_ART','DUREE_AMORTISSEMENT']=C: 0;
['TOT_AMORTISSEMENT','TOT_CG','DUREE_AMORTISSEMENT']=C: DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,'ASSET',!S_CENTRE_COUT,'CG----',!P_PHASE,!T_PERIODE_ANALYTIQUE|'_BUD',!I_COST_ASSET);
['TOT_AMORTISSEMENT','TOT_CG','DATE_MISE_EN_SERVICE']=S:  DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,'ASSET',!S_CENTRE_COUT,'CG----',!P_PHASE,!T_PERIODE_ANALYTIQUE|'_BUD',!I_COST_ASSET);


#ELEMENT TECHNIQUE PERMETTANT D'AVOIR LES CONSOLIDES SANS
['CD_VALEUR_TECHNIQUE', 'ASSET']=N: IF(DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'STATUT')@='Refusé',0,DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'CD_VALEUR'));
['CD_VALEUR', 'ASSET']=C: DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'CD_VALEUR_TECHNIQUE');

# ===================================
# Phases Prévisionnelles
# Data from RESTITUTION
# FORECAST EN COURS - CD_FCT_ENCOURS
# ===================================


### Permet de récupérer le REEL des COST EDP depuis RESTIUTION
['ND','CD_FCT_ENCOURS',{'.1','.2','.3','.4','.5','.6','.7','.8','.9','.10','.11','.13','.14'},'CD_VALEUR','900460']= n:
IF( ATTRN( 'T_MOIS', !T_PERIODE_ANALYTIQUE, 'Num_Mois') =0,
STET,
   IF( ATTRN( 'T_MOIS', !T_PERIODE_ANALYTIQUE, 'Num_Mois') <= ATTRN( 'T_MOIS', DB('Z_PARAM','CD_MOIS_ANALYSE', 'CD_VALEUR'), 'Num_Mois'),
      DB('RESTITUTION', 'TOT_SESS', ATTRS('S_CENTRE_COUT',!S_CENTRE_COUT,'DF_NUM_EDP') | !S_DF_GENERIQUE_ACI,'TOT_CG',!S_CENTRE_COUT,'TOT_TYP', 'TOT_MARQUE',
      !S_ORDRE_INTERNE, 'TOT_BUS', 'TOT_TYPE_SALES', 'CD_REEL', !T_PERIODE_ANALYTIQUE, 'TOTAL_ANNEES', 'CD_MONTANT'),
    CONTINUE))								;

### Permet de récupérer le REEL des COST EDP depuis RESTIUTION
['ND','CD_FCT_ENCOURS','.12','CD_VALEUR','900520']= n:
IF( ATTRN( 'T_MOIS', !T_PERIODE_ANALYTIQUE, 'Num_Mois') =0,
STET,
   IF( ATTRN( 'T_MOIS', !T_PERIODE_ANALYTIQUE, 'Num_Mois') <= ATTRN( 'T_MOIS', DB('Z_PARAM','CD_MOIS_ANALYSE', 'CD_VALEUR'), 'Num_Mois'),
      DB('RESTITUTION', 'TOT_SESS', ATTRS('S_CENTRE_COUT',!S_CENTRE_COUT,'DF_NUM_EDP') | !S_DF_GENERIQUE_ACI,'TOT_CG',!S_CENTRE_COUT,'TOT_TYP', 'TOT_MARQUE',
      !S_ORDRE_INTERNE, 'TOT_BUS', 'TOT_TYPE_SALES', 'CD_REEL', !T_PERIODE_ANALYTIQUE, 'TOTAL_ANNEES', 'CD_MONTANT'),
    CONTINUE))								;


### Permet de récupérer le REEL des AMO depuis RESTIUTION
['ND','CD_FCT_ENCOURS',{'70','165','205'},'CD_VALEUR']= n:
IF( ATTRN( 'T_MOIS', !T_PERIODE_ANALYTIQUE, 'Num_Mois') =0 % !S_LIGNE_ARTICLE@='0',
STET,
IF( ATTRN( 'T_MOIS', !T_PERIODE_ANALYTIQUE, 'Num_Mois') <= ATTRN( 'T_MOIS', ATTRS( 'P_PHASE', !P_PHASE, 'Mois_Analyse'), 'Num_Mois'),
0,STET));

### Permet de récupérer le REEL des COST EDP depuis RESTIUTION
['ND','CD_REEL','.6','900460','CD_VALEUR']=

      DB('RESTITUTION', 'TOT_SESS', ATTRS('S_CENTRE_COUT',!S_CENTRE_COUT,'DF_NUM_EDP') | !S_DF_GENERIQUE_ACI,'TOT_CG',!S_CENTRE_COUT,'TOT_TYP', 'TOT_MARQUE',
      !S_ORDRE_INTERNE, 'TOT_BUS', 'TOT_TYPE_SALES', 'CD_REEL', !T_PERIODE_ANALYTIQUE, 'TOTAL_ANNEES', 'CD_MONTANT');

['ND','CD_REEL','.12','900520','CD_VALEUR']=

      DB('RESTITUTION', 'TOT_SESS', ATTRS('S_CENTRE_COUT',!S_CENTRE_COUT,'DF_NUM_EDP') | !S_DF_GENERIQUE_ACI,'TOT_CG',!S_CENTRE_COUT,'TOT_TYP', 'TOT_MARQUE',
      !S_ORDRE_INTERNE, 'TOT_BUS', 'TOT_TYPE_SALES', 'CD_REEL', !T_PERIODE_ANALYTIQUE, 'TOTAL_ANNEES', 'CD_MONTANT');


### Permet de récupérer le REEL des AMO depuis RESTIUTION
#['ND','CD_REEL',{'70','165','205'},'CD_VALEUR']=
#
#      DB('RESTITUTION', 'TOT_SESS', ATTRS('S_CENTRE_COUT',!S_CENTRE_COUT,'DF_NUM_AMO'),!S_COMPTE_GENERAL,!S_CENTRE_COUT,'TOT_TYP', 'TOT_MARQUE',
#      !S_ORDRE_INTERNE, 'TOT_BUS', 'TOT_TYPE_SALES', 'CD_REEL', !T_PERIODE_ANALYTIQUE, 'TOTAL_ANNEES', 'CD_MONTANT');

### Permet d'obtenir la bonne date de mise en service

['TOT_AMORTISSEMENT','TOT_CG','DATE_MISE_EN_SERVICE_RESTIT'] =s:
IF(!S_LIGNE_ARTICLE@='0',
STET,
 DB('COST_ASSET',!S_ORDRE_INTERNE,!S_LIGNE_ARTICLE,!S_SOUS_CATEGORIE,!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'DATE_MISE_EN_SERVICE'));

#### Permet de renseigner le FLAGREEL_BUD pour le masque de restitution

#['FLAG_BUD_REEL']= IF(DB('COST_ASSET',!S_ORDRE_INTERNE,'TOT_ART','ND',!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,'CD_BUD_ENCOURS',!T_PERIODE_ANALYTIQUE,'CD_VALEUR')<>0,1,
#IF(DB('RESTITUTION','TOT_SESS',ATTRS('S_CENTRE_COUT',!S_CENTRE_COUT,'DF_NUM_EDP')|!S_DF_GENERIQUE_ACI,'TOT_CG',!S_CENTRE_COUT,'TOT_TYP', 'TOT_MARQUE',
#!S_ORDRE_INTERNE,'TOT_BUS', 'TOT_TYPE_SALES','CD_REEL',,!T_PERIODE_ANALYTIQUE,'CD_VALEUR')<>0,1,0)
#);

['FLAG_BUD_REEL', {'.6','.12'}]= IF(      (DB('COST_ASSET',!S_ORDRE_INTERNE,'TOT_ART','ND',!S_DF_GENERIQUE_ACI,!S_CENTRE_COUT,!S_COMPTE_GENERAL,!P_PHASE,!T_PERIODE_ANALYTIQUE,'CD_VALEUR')
                                          +DB('RESTITUTION','TOT_SESS',ATTRS('S_CENTRE_COUT',!S_CENTRE_COUT,'DF_NUM_EDP')|!S_DF_GENERIQUE_ACI,'TOT_CG',!S_CENTRE_COUT,'TOT_TYP', 'TOT_MARQUE',!S_ORDRE_INTERNE,'TOT_BUS', 'TOT_TYPE_SALES','CD_REEL','TOTAL_ANNEES',DB('Z_PARAM','CD_COST_ANNEE1','CD_VALEUR'),'CD_VALEUR')
                                          +DB('RESTITUTION','TOT_SESS',ATTRS('S_CENTRE_COUT',!S_CENTRE_COUT,'DF_NUM_EDP')|!S_DF_GENERIQUE_ACI,'TOT_CG',!S_CENTRE_COUT,'TOT_TYP', 'TOT_MARQUE',!S_ORDRE_INTERNE,'TOT_BUS', 'TOT_TYPE_SALES','CD_REEL','TOTAL_ANNEES',DB('Z_PARAM','CD_COST_ANNEE2','CD_VALEUR'),'CD_VALEUR'))
                                    <>0,1,0);


Feeders;
['CD_VALEUR']=>['FLAG_BUD_REEL'];
['STATUT']=>['FLAG_ENCOURS'];
['STATUT']=>['FLAG_ASOUMETTRE'];
['STATUT']=>['FLAG_ACCEPTE'];
['STATUT']=>['FLAG_REFUSE'];
['STATUT']=>['FLAG_COMPTA_VUE'];
['STATUT_DG']=>['FLAG_DG_ENCOURS'];
['STATUT_DG']=>['FLAG_DG_ASOUMETTRE'];
['STATUT_DG']=>['FLAG_DG_ACCEPTE'];
['STATUT_DG']=>['FLAG_DG_REFUSE'];
['STATUT_DG']=>['FLAG_MD_VUE'];
['ASSET']=>['TOT_AMORTISSEMENT'];
['CG----']=>['TOT_CG'];
['CD_VALEUR']=>['CD_VALEUR_TECHNIQUE'];
['CD_VALEUR']=>['FLAG_ERREUR_MENSUALISATION'];
['CD_VALEUR']=>DB('COST_ASSET', !S_ORDRE_INTERNE, !S_LIGNE_ARTICLE, !S_SOUS_CATEGORIE, !S_DF_GENERIQUE_ACI, !S_CENTRE_COUT, !S_COMPTE_GENERAL, !P_PHASE, !T_PERIODE_ANALYTIQUE|'_BUD', 'FLAG_ERREUR_MENSUALISATION');


#Feeding du reporting
['P_PHASE':'CD_BUD_ENCOURS',I_COST_ASSET:'CD_VALEUR']=> DB( 'REPORTING_EDP_INTERCO_AMORT', !S_CENTRE_COUT, !S_ORDRE_INTERNE, !S_DF_GENERIQUE_ACI, ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );

['P_PHASE':'CD_FCT_ENCOURS',I_COST_ASSET:'CD_VALEUR']=> DB( 'REPORTING_EDP_INTERCO_AMORT', !S_CENTRE_COUT, !S_ORDRE_INTERNE, !S_DF_GENERIQUE_ACI, ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );


['P_PHASE':'CD_BUD_ENCOURS',I_COST_ASSET:'CD_VALEUR']=> DB( 'REPORTING_PL', !S_CENTRE_COUT, ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'DF_NUM_EDP')|!S_DF_GENERIQUE_ACI, ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );
['P_PHASE':'CD_BUD_ENCOURS',I_COST_ASSET:'CD_VALEUR',S_DF_GENERIQUE_ACI:'70']=> DB( 'REPORTING_PL', !S_CENTRE_COUT, '0070', ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );
['P_PHASE':'CD_BUD_ENCOURS',I_COST_ASSET:'CD_VALEUR',S_DF_GENERIQUE_ACI:'165']=> DB( 'REPORTING_PL', !S_CENTRE_COUT, '0165', ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );
['P_PHASE':'CD_BUD_ENCOURS',I_COST_ASSET:'CD_VALEUR',S_DF_GENERIQUE_ACI:'205']=> DB( 'REPORTING_PL', !S_CENTRE_COUT, '0205', ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );

['P_PHASE':'CD_FCT_ENCOURS',I_COST_ASSET:'CD_VALEUR']=> DB( 'REPORTING_PL', !S_CENTRE_COUT, ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'DF_NUM_EDP')|!S_DF_GENERIQUE_ACI, ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );
['P_PHASE':'CD_FCT_ENCOURS',I_COST_ASSET:'CD_VALEUR',S_DF_GENERIQUE_ACI:'70']=> DB( 'REPORTING_PL', !S_CENTRE_COUT, '0070', ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );
['P_PHASE':'CD_FCT_ENCOURS',I_COST_ASSET:'CD_VALEUR',S_DF_GENERIQUE_ACI:'165']=> DB( 'REPORTING_PL', !S_CENTRE_COUT, '0165', ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );
['P_PHASE':'CD_FCT_ENCOURS',I_COST_ASSET:'CD_VALEUR',S_DF_GENERIQUE_ACI:'205']=> DB( 'REPORTING_PL', !S_CENTRE_COUT, '0205', ATTRS('S_CENTRE_COUT', !S_CENTRE_COUT, 'BUSINESS_LINE'), !P_PHASE, !T_PERIODE_ANALYTIQUE, 'MOIS', '€', 'CD_VALEUR'  );

